body {
  background: #1F1C18;
}
/* container width */
@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}
.top_wrapper {
  border: 7px solid #512819;
  margin-top: 50px;
  border-radius: 5px;
  background: #443723;
}
.header_left {
  position: relative;
}
.header_area .row {
  margin: 0;
}
.header_area .logo_fire {
  padding: 0 50px;
  display: block;
  box-sizing: border-box;
}
.header_area .logo_fire img {
  width: 100%;
  display: block;
  height: 185px;
}
.header_area .logo_fire {
  padding: 0 30px;
  display: block;
  box-sizing: border-box;
  margin-top: -59px;
}

.socila_symbols .row {
  margin: 0;
}
.socila_symbols img {
  cursor: pointer;
}

/* mobile social */

@media only screen and (max-width: 600px) {
  .top_wrapper {
    margin-top: 0px;
}
  .socila_symbols {
    position: relative;
    padding-top: 56px;
  }
  .header_area .logo_fire {
    display: none;
  }
  .mobile_display {
    display: none;
  }
  .m_display_none {
    display: none;
  }
  .logo_h_dreagon img {
    width: 55px;
  }
  ul.mobile_social_view {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
  }
  ul.mobile_social_view li {
      display: inline-block;
      margin-left: 5px;
  }
  li.m_social_item img {
    width: 100%;
  }
  .header_drangon_content {
    background: transparent;
    text-align: center;
    padding: 5px 0;
  }
  .header_drangon_content h2 {
    margin: 0;
    font-size: 30px;
    padding: 0;
    font-family: 'Freckle Face', cursive;
    color: #E9FB00;
  }
  
  .header_drangon_content p {
    margin: 0;
    font-size: 14px;
    font-family: 'Indie Flower', cursive;
    color: #8F8062;
    font-weight: 700;
  }
}

@media only screen and (max-width: 400px) {
  li.m_social_item img {
    width: 30px;
  }
}


/* TAB SECTION */
/* .tab_section {
  
} */
.tab_section .tab_content {
  background-image: linear-gradient(to top, #e3975c, #e9a556, #ebb450, #e9c54c, #e3d64b, #e3d64b, #e2d64a, #e2d64a, #e8c549, #eab44d, #e8a452, #e39558);
  padding: 7px;
}
.dragon_content {
  background: #774E25;
  text-align: center;
  padding: 5px 0;
}
.dragon_content h2 {
  margin: 0;
  font-size: 30px;
  padding: 0;
  font-family: 'Freckle Face', cursive;
  color: #E9FB00;
}

.dragon_content p {
  margin: 0;
  font-size: 14px;
  font-family: 'Indie Flower', cursive;
  color: #8F8062;
  font-weight: 700;
}
.tab_content_logo {
  padding: 10px 5px;
  box-sizing: border-box;
  width: 100%;
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 10px;
  margin-bottom: 10px;
  height: 444px;
}
@media only screen and (max-width: 1733px) {
  .tab_content_logo {
    height: 420px;
  }  
}
@media only screen and (max-width: 1600px) {
  .tab_content_logo {
    height: 415px;
  }  
}
@media only screen and (max-width: 1400px) {
  .tab_content_logo {
    height: 409px;
  }  
}
@media only screen and (max-width: 1185px) {
  .tab_content_logo {
    height: 385px;
  }  
}
@media only screen and (max-width: 1078px) {
  .tab_content_logo {
    height: 350px;
  }  
}
@media only screen and (max-width: 1011px) {
  .tab_content_logo {
    height: 327px;
  }  
}
@media only screen and (max-width: 993px) {
  .tab_content_logo {
    height: 413px;
  }  
}
.tab_content_logo img {
  width: 100%;
  height: 100%;
}
form#search_form {
  display: flex;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background-color: #fff;
  border: none;
  border-bottom: none;
  border-radius: 0;
  outline: none;
  height: 31px;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: none;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
  box-shadow: none;
}
button:focus {
  outline: none;
  background-color: #fff;
}
button.search_btn {
  border: none;
  background: #fff;
  cursor: pointer;
  width: 45px;
  padding: 3px 0 0 0;
}

/* tab */
.tab_upper_logo {
  display: flex;
}
img.left_tab_flame {
  width: 43%;
}
img.mid_tab_flame {
  width: 14%;
}
img.right_tab_flame {
  width: 43%;
}

/* Tab */
.tab_list_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  margin: 0 auto;
}
.tab_list_scroll::-webkit-scrollbar {
  display: none;
}
.tab_content ul:not(.browser-default) {
  padding-left: 15px;
  list-style-type: none;
}
.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 12px 12px 0 0;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #A47B52;
  margin: 0 0 10px;
  padding: 0;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 3px 20px;
  cursor: pointer;
  background-image:
  radial-gradient(
    #D3BD50,
    80%,
    #6D5249
  );
  border-radius: 12px 12px 0 0;
  margin: 0 2px;
  font-size: 14px;
  font-family: serif;
}

.react-tabs__tab--selected {
  background-image:
    radial-gradient(
      #f18016,
      40%,
      #EBA748
    );
  color: black;
  border-radius: 12px 12px 0 0;
}

.react-tabs__tab-panel {
  /* height: 482px; */
  position: relative;
}
.tab_handler_top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  background: transparent;
  z-index: 9;
}
.tab_handler_down {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: transparent;
  z-index: 9; 
}
.tab_content_scroll {
  position: relative;
  overflow: auto;
  height: -moz-calc(95% + 0%);
  height: -webkit-calc(95% + 0%);
  height: calc(95% + 0%);
  margin: 0 auto;
  background: #E9E9E9;
}
.tab_content_scroll::-webkit-scrollbar {
  display: none;
}
.tab_inner_content {
  background: #E9E9E9;
  padding: 10px;
  width: 100%;
  height: 100%;
}
/* @media only screen and (max-width: 1200px) {
  .react-tabs__tab {
    padding: 3px 17px;
}
}
@media only screen and (max-width: 1100px) {
  .react-tabs__tab {
    padding: 3px 15px;
}
}
@media only screen and (max-width: 1040px) {
  .react-tabs__tab {
    padding: 3px 13px;
}
}
@media only screen and (max-width: 825px) {
  .react-tabs__tab {
    padding: 3px 20px;
}
}

@media only screen and (max-width: 820px) {
  .react-tabs__tab {
    padding: 3px 17px;
}
}
@media only screen and (max-width: 790px) {
  .react-tabs__tab {
    padding: 3px 15px;
}
}
@media only screen and (max-width: 730px) {
  .react-tabs__tab {
    padding: 3px 13px;
}
}
@media only screen and (max-width: 690px) {
  .react-tabs__tab {
    padding: 3px 11px;
}
}
@media only screen and (max-width: 660px) {
  .react-tabs__tab {
    padding: 3px 8px;
}
}
@media only screen and (max-width: 600px) {
  .react-tabs__tab {
    padding: 3px 20px;
}
.react-tabs__tab-panel {
    height: 300px;
}
}
@media only screen and (max-width: 560px) {
  .react-tabs__tab {
    padding: 3px 14px;
}
}
@media only screen and (max-width: 490px) {
  .react-tabs__tab {
    padding: 3px 12px;
}
}
@media only screen and (max-width: 460px) {
  .react-tabs__tab {
    padding: 3px 7px;
}
}
@media only screen and (max-width: 410px) {
  .react-tabs__tab {
    padding: 3px 5px;
}
}
@media only screen and (max-width: 375px) {
  .react-tabs__tab {
    padding: 2px 5px;
    font-size: 12px;
}
}
@media only screen and (max-width: 345px) {
  .react-tabs__tab {
    padding: 2px 5px;
    font-size: 10px;
}
.tab_content ul:not(.browser-default) {
  padding-left: 5px;
  list-style-type: none;
}
} */

/* carousel */
.header_carousel_wrapper {
  display: flex;
  width: 97%;
  position: absolute;
  top: 0;
  left: 0;
}
.header_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 86%;
  margin: 0 auto;
}
.header_scroll::-webkit-scrollbar {
  display: none;
}
.h_item {
  display: inline-block;
  width: 40px;
  margin-right: 7px;
  height: 40px;
  background: red;
  border-radius: 50%;
  text-align: center;
  padding: 0px 0;
  font-size: 26px;
  cursor: pointer;
}
.h_item a {
  text-decoration: none;
  color: #D8A245;
}
.h_left_icon, .h_left_icon {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .h_item {
    width: 25px;
    height: 25px;
    padding: 0px 0;
    font-size: 16px;
}
.h_left_icon img, .h_left_icon img {
  width: 20px;
}
}


/* Flags */
.flag_carousel_wrapper {
  display: flex;
  width: 97%;
  margin: 15px auto;
}
.flags_item {
  display: inline-block;
  margin-right: 8px;
  height: auto;
  width: 150px;
}
.flags_item img {
  width: 100%;
  height: 141px;
}
.flag_left_icon img {
  display: block;
  margin: 30% 0;
  cursor: pointer;
}
.flag_right_icon img {
  display: block;
  margin: 30% 0;
  cursor: pointer;
}
.flag_left_icon {
  padding: 3% 0;
}
.flag_right_icon {
  padding: 3% 0;
}
@media only screen and (max-width: 768px) {
  .flag_left_icon {
    padding: 7% 0;
  }
  .flag_right_icon {
    padding: 7% 0;
  }  
}
@media only screen and (max-width: 570px) {
  .flag_left_icon {
    padding: 7% 0;
  }
  .flag_right_icon {
    padding: 7% 0;
  }  
}

/* body content */
.content_wrapper {
  border: 17px solid #ddd;
  position: relative;
}
.owner_img {
  margin-right: 20px;
}
.owner_img {
  width: 300px;
  height: 400px;
  float: left;
  overflow: hidden;
  margin: 5px 15px 5px 5px;
  box-shadow: 1px 1px 10px 0.5px rgba(81,78,78,.6);
}

.owner_img img {
  width: 100%;
  height: 100%;
}
.content_inner_scroll {
  position: relative;
  overflow: auto;
  /* height: -moz-calc(95% + 0%); */
  /* height: -webkit-calc(95% + 0%); */
  /* height: calc(95% + 0%); */
  height: 449px;
  margin: 0 auto;
}
.content_inner_scroll::-webkit-scrollbar {
  display: none;
}
.downward_content {
  width: 100%;
  height: 38px;
  position: absolute;
  top: -21px;
  left: 0;
  z-index: 9;
}
.upward_content {
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.body_content {
  padding: 15px;
}
.body_content p {
  font-size: 22px;
}
.toTop {
  width: 150px;
  text-align: center;
  font-size: 32px;
  margin: 0 auto;
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -75px;
  z-index: 9999;
}
.toDown {
  width: 150px;
  text-align: center;
  font-size: 32px;
  margin: 0 auto;
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -75px;
}
.toTop i, .toDown i {
  padding: 0 5px;
}

@media only screen and (max-width: 767px) {
  .owner_img {
    width: 200px;
    height: 300px;
  } 
  .body_content p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 570px) {
  .owner_img {
    width: 150px;
    height: 200px;
  } 
  .body_content p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .owner_img {
    width: 80px;
    height: 130px;
  } 
  .body_content p {
    font-size: 11px;
  }
}

/* ========= zoom_image_wrapper ======== */
.zoom_image_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  background: rgba(14, 12, 12, 0.692);
}
.zoom_image_inner {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
.zoom_image_inner img {
    width: 375px;
    height: 500px;
    border: 9px solid #fff;
}
@media only screen and (max-width: 1921px) {
  .zoom_image_inner img {
    width: 600px;
    height: auto;
}
}
@media only screen and (max-width: 1400px) {
  .zoom_image_inner img {
    width: 375px;
    height: 500px;
}
}
@media only screen and (max-width: 768px) {
  .zoom_image_inner img {
    width: 337px;
    height: 450px;
}
.zoom_image_inner {
  width: 50%;
}
}
@media only screen and (max-width: 570px) {
  .zoom_image_inner img {
    width: 225px;
    height: 300px;
}
.zoom_image_inner {
  width: 50%;
}
}